In [1]:
import sys
sys.path.append('../scripts/')
from wiyot import *

In [31]:
### Read dataset relating a preverb to hierarchy class
preverbhierarchy, preverb2level, preverb2class
preverbhierarchy.head()

   preverb Class  Level
0      PST     I      1
1  already     I      1
2     EMPH     I      1
3     PROG     I      1
4     then     I      1

### Process Kroeber data

In [5]:
kroeber = pd.read_excel(f'../data/Kroeber texts (2).xlsx',None)

#### Crow story

In [14]:
## Subset by story
crowStory = getStory(kroeber,'Crow')
## Split into wiyot/glos/translation
crowStory_split = splitStory(crowStory)
print(len(crowStory_split)) ## number of triplets in the spreadsheet
crowStory_split[0]

16

('Kacid    wule-póyakhd-ił     šudi-lákhow',
 'Crow    please-call.kin.in.law-NMLZ.A   ocean-other.side',
 'Crow went to his kin-in-law across the ocean.')

In [17]:
### Separate the wiyot/gloss/english
allwiyot,allenglish,fullstory = reformatStory(crowStory_split)

In [20]:
### Split into words
wiyot_words = story2words(allwiyot)
english_words = story2words(allenglish)
fullstory_words = story2words(fullstory)

In [24]:
### first two must be the same length
len(english_words), len(wiyot_words), len(fullstory_words)

(50, 50, 110)

In [25]:
### Keep wiyot/gloss together
english2wiyot = list(zip(english_words,wiyot_words))

__assign each word against the hierarchy class__

In [60]:
english2levelclass = testClass(english_words,preverb2level,preverb2class)
pd.DataFrame(english2levelclass).head(3)

                 0    1    2
0             Crow  [0]  [0]
1           please  [0]  [0]
2  call.kin.in.law  [0]  [0]

### Test if hierarchy is preserved throughout a sentence

In [48]:
wiyot_english_class = []
for _ in crowStory_split:
    translation = _[2]
    wiyot,eng = split_words(_[0]), split_words(_[1])
    eng_class = [[preverb2class[_] if preverb2class.get(_) is not None else 0 for _ in word.split('-')] for word in eng]
    eng_class = sum(eng_class,[])
    eng_level = [[preverb2level[_] if preverb2level.get(_) is not None else 0 for _ in word.split('-')] for word in eng]
    eng_level = sum(eng_level,[])
    wiyot_english_class.append([wiyot,eng,eng_class,eng_level])

In [52]:
story_Wi2Eng_Hierachy = pd.DataFrame(wiyot_english_class,columns=['wiyot','english','class','class_num'])
story_Wi2Eng_Hierachy['result'] = list(map(checkSequenceClass,story_Wi2Eng_Hierachy['class_num']))
story_Wi2Eng_Hierachy.head()

,wiyot,english,class,class_num,result
0,"[Kacid, wule-póyakhd-ił, šudi-lákhow]","[Crow, please-call.kin.in.law-NMLZ.A ocean-o...","[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]",None
1,"[wule-póyakhd-ił, hi-wú-lag-ił., Šudi-lákhow]",[please-be.related.by.marriage-NMLZ.A PST-PF...,"[0, 0, 0, II, 0, 0, 0]","[0, 0, 0, 2, 0, 0, 0]",None
2,"[hi-lès-ił., Cákhi, tu-lùl-úw-ił]",[PST-travel.in.boat-3SBJ.DEF. Child[PL] PL...,"[I, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]",None
3,"[díkh-ad., Wuphedakáčhkš-ił phlét-w-akw. Kh...",[be.three-3SBJ.STV. Put-3SBJ.DEF rock-SUB-LO...,"[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]",None
4,"[wuphedakáckš-ił. Hi-khu-lów-ił., Tiwe-dú-lak...",[put-3SBJ.DEF. PST-ITER-come-3SBJ.DEF. What....,"[0, 0, V, 0, 0, 0, 0, 0, 0]","[0, 0, 5, 0, 0, 0, 0, 0, 0]",None

In [59]:
story_Wi2Eng_Hierachy[~story_Wi2Eng_Hierachy['result'].isna()]

,wiyot,english,class,class_num,result
11,"[Hi-dókhš-ém-ił., Hi-wó-khu-dałé-khan-em-ił.]",[PST-pursue-3OBJ-3SBJ.DEF. PST-go.to-ITER-fro...,"[I, 0, 0, 0, 0, V, IX, 0, 0, 0]","[1, 0, 0, 0, 0, 5, 9, 0, 0, 0]",True
13,"[Mes-akw, hi-to-them-óth-u.]","[Fire-LOC, PST-PROG-sit-CAUS-3SBJ.INDF.]","[0, 0, I, I, 0, 0, 0]","[0, 0, 1, 1, 0, 0, 0]",True
15,"[mes-ákwi., Hi-khá-thawól-ił.]","[fire-LOC., PST-then.2-die-3SBJ.DEF.]","[0, 0, I, IV, 0, 0]","[0, 0, 1, 4, 0, 0]",True